<h2>In this notebook, the data is analysed and handled

In [49]:
import numpy as np
import pandas as pd

In [50]:
df0=pd.read_excel('admission-predictionver.xlsx',index_col=0,header=0)  # reading the admission-predictionver.xlsx file and creating a data frame
df=pd.DataFrame(df0)

In [51]:
df  # data frame

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92
2,324.0,107.0,4.0,4.0,4.5,8.87,1.0,0.76
3,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72
4,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80
5,314.0,103.0,2.0,2.0,3.0,8.21,0.0,0.65
...,...,...,...,...,...,...,...,...
498,330.0,120.0,5.0,4.5,5.0,9.56,1.0,0.93
499,312.0,103.0,4.0,4.0,5.0,8.43,0.0,0.73
500,327.0,113.0,4.0,4.5,4.5,9.04,0.0,0.84
501,300.0,95.0,2.0,3.0,1.5,8.22,1.0,0.62
502,327.0,113.0,4.0,4.5,4.5,9.04,0.0,0.84

In [52]:
col_names=['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA', 'Research', 'Chance of Admit'] # column names of of dataframe
print(col_names)

['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA', 'Research', 'Chance of Admit']

In [53]:
def Calculate_NullFrequency():                  # function that calculates null frequency of corresponding columns
    null_frequency= [0]*len(col_names)
    col_num=0;
    tmp=0
    for column in col_names:
        for cell in df[column]:
            if(pd.isna(cell)):
                null_frequency[col_num]+=1      
        col_num+=1;

    null_freq=list(zip(col_names,null_frequency))
    return null_freq
print("Corresponding null frequncies are: ",Calculate_NullFrequency())

Corresponding null frequncies are:  [('GRE Score', 2), ('TOEFL Score', 4), ('University Rating', 1), ('SOP', 2), ('LOR', 2), ('CGPA', 2), ('Research', 2), ('Chance of Admit', 0)]

In [54]:
df['GRE Score'].fillna( value = round(df['GRE Score'].mean()), inplace=True)
df['TOEFL Score'].fillna(value= round(df['TOEFL Score'].mean()) , inplace=True)
df['University Rating'].fillna(value=int(df['University Rating'].median()) , inplace=True)  #fill the null cells with mean/median/mode
df['SOP'].fillna(value=round(df['SOP'].median(),2) , inplace=True)
df['LOR'].fillna(value=round(df['LOR'].median(),2) , inplace=True)
df['CGPA'].fillna(value=round(df['CGPA'].mean(),2) , inplace=True)
df['Research'].fillna(value=int(df['Research'].mode()) , inplace=True)

In [55]:
print("Null frequencies after handling the data:")                    # verifying that the null cells are succesfully filled and handled
print(Calculate_NullFrequency())

Null frequencies after handling the data:
[('GRE Score', 0), ('TOEFL Score', 0), ('University Rating', 0), ('SOP', 0), ('LOR', 0), ('CGPA', 0), ('Research', 0), ('Chance of Admit', 0)]

In [56]:
def Remove_duplicates():                                    # function that removes the duplicate rows in data frame
    col_names=['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA', 'Research', 'Chance of Admit']
    duplicates= df[df.duplicated(subset=col_names)]
    df.drop_duplicates(subset=col_names,inplace=True)   # remove duplicates from data frame
    return duplicates

print("The duplicates are:\n",Remove_duplicates())
print("Dataframe after removing duplicates: ")
df

The duplicates are:
             GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  \
Serial No.
501             300.0         95.0                2.0  3.0  1.5  8.22
502             327.0        113.0                4.0  4.5  4.5  9.04

            Research  Chance of Admit
Serial No.
501              1.0             0.62
502              0.0             0.84
Dataframe after removing duplicates:

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92
2,324.0,107.0,4.0,4.0,4.5,8.87,1.0,0.76
3,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72
4,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80
5,314.0,103.0,2.0,2.0,3.0,8.21,0.0,0.65
...,...,...,...,...,...,...,...,...
496,332.0,108.0,5.0,4.5,4.0,9.02,1.0,0.87
497,337.0,117.0,5.0,5.0,5.0,9.87,1.0,0.96
498,330.0,120.0,5.0,4.5,5.0,9.56,1.0,0.93
499,312.0,103.0,4.0,4.0,5.0,8.43,0.0,0.73
500,327.0,113.0,4.0,4.5,4.5,9.04,0.0,0.84

In [57]:
with pd.ExcelWriter('./admission-pred-AnalysedData.xlsx') as writer:
    df.to_excel(writer, sheet_name='Sheet1')
# the analysied data is stored in admission-pred-analysedData.xlsx file